{% extends 'base.html' %}

{% block content %}
<div id='author'>
    <h3>Short Biography</h3>
    <p>Name: Erion Avdiu<br>
       Age:  19<br>
       Nationality: Albanian<br>
       Hometown: Prishtina, Kosova<br>
    </p>
    <h3>Education</h3>
    <p>
        I was born and still live in Prishtina, so naturally I've been educated from institutions here in my hometown.
        Currently am a student in UBT College, where I study Computer Science and Engineering. I have also finished and got certificates of
        completion of different courses related to techonology like: Cisco IT Essentials, CCNA R&S 1, Java Fundamentals etc.
    </p>
    <h3>Skills</h3>
        <ul class="author-skills">
            <li>Python</li>
            <li>Django</li>
            <li>Java</li>
            <li>HTML</li>
            <li>CSS</li>
        </ul>
    <h3>Hobbies</h3>
    <ul>
        <li><b>Football(Chelsea Fan)</b>. Spent hours playing growing-up. That is why today I still enjoy watching ang 
            playing it </li>
        <li><b>Basketball, NBA(Lakers Fan)</b>. The last few yours basketball has really grown on me. I think it is a really exciting game and very 
           enjoyable to watch. It's where amazing happens!</li>
        <li><b>TV Shows</b>: To me, tv shows are what part of what amazes me what humans can create and do. Building something from scratch 
           to a masterpiece of a specific calibre is simply amazing to me. Some of my favorite shows are: 'The Sopranos', 'The Wire', 
           'Lost(up-to 6th season)', 'Mr.Robot' etc.</li>
        </p>
    </ul>
    </div>
{% endblock %}