{% load static %}
<html>
    <head>
        <title>Erion's blog</title>
        <meta charset="utf-8">
            <link rel="stylesheet" href="{% static 'css_style/style.css' %}">
    </head>
    <body>
    <header>
        <h1><a href="{% url 'home' %}">Erion's blog</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'author' %}">Author</a></li>
                {% if user.is_authenticated %}
                <li>
                    <form class="logout" action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>

                    </form>
                </li>
                <li><a href="{% url 'articles:create' %}">New Article</a></li>
                {% else %}
                    <li><a href="{% url 'accounts:login' %}">Login</a></li>
                    <li><a href="{% url 'accounts:signup' %}">Singup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <br>
    <br>
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>
    </body>

</html>